<button class="btn btn-primary" (click)="addCar()">Добавить машину</button>
<p *ngIf="!addCarStatus; else success">Машина не добавлена!</p>
<ng-template #success>
  <p>Машина добавлена!</p>
</ng-template>

<hr>
<app-car></app-car>
<app-car></app-car>

<hr>
<input type="text" class="form-control" (input)="onKeyup($event)">
<p>{{ textInput }}</p>

<input type="text" class="form-control" #myInp (input)="onKeyup2(myInp.value)">
<p>{{ textInput2 }}</p>

<input type="text" class="form-control" (keyup.enter)="onKeyup3($event)">
<!-- 2-way-binding -->
<input type="text" class="form-control" [(ngModel)]="textInput3" style="margin-top: 10px">
<p>{{ textInput3 }}</p>


